# Python
__pycache__/
*.py[cod]
*.pyo

# Środowisko wirtualne
.venv/

# Testy / coverage
.pytest_cache/
.coverage
htmlcov/

# Typ checker / linter cache
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# Dane i artefakty
/data/
/artifacts/

# Zmienne środowiskowe
.env
